fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose
passlib
bcrypt==4.0.1
pytesseract
pillow
langchain-groq
langchain-core
langgraph
python-multipart
python-dotenv
python-dateutil
pdf2image
poppler-utils